[submodule "3rd_party/vcpkg"]
	path = 3rd_party/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "3rd_party/cpp_json_class_gen"]
	path = 3rd_party/cpp_json_class_gen
	url = git@github.com:joefscholtz/cpp_json_class_gen.git
[submodule "3rd_party/sqlite_orm"]
	path = 3rd_party/sqlite_orm
	url = git@github.com:fnc12/sqlite_orm.git
	branch = dev
[submodule "3rd_party/sdbus-cpp"]
	path = 3rd_party/sdbus-cpp
	url = https://github.com/Kistler-Group/sdbus-cpp.git
